n8n - Rollout/workflows/rollout-drive-watch.json
{
  "name": "Rollout Drive Watch (Policy Folder)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 60 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst newRunTime = new Date().toISOString();\nconst lastRun = staticData.lastRun || '1970-01-01T00:00:00.000Z';\nstaticData.lastRun = newRunTime;\nreturn [{ json: { lastRun } }];"
      },
      "id": "code-lastrun",
      "name": "Get/Set lastRun",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "search",
        "queryString": "='YOUR_POLICY_FOLDER_ID' in parents and modifiedTime > '{{ $json.lastRun }}'"
      },
      "id": "google-drive-search",
      "name": "List new/updated files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-in-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TO_BE_SET_AFTER_IMPORT",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "execute-ingest",
      "name": "Run Ingest for file",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1120, 300]
    },
    {
      "parameters": {},
      "id": "noop-after-batch",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Every 60 min": {
      "main": [
        [{ "node": "Get/Set lastRun", "type": "main", "index": 0 }]
      ]
    },
    "Get/Set lastRun": {
      "main": [
        [{ "node": "List new/updated files", "type": "main", "index": 0 }]
      ]
    },
    "List new/updated files": {
      "main": [
        [{ "node": "Split In Batches", "type": "main", "index": 0 }]
      ]
    },
    "Split In Batches": {
      "main": [
        [{ "node": "Run Ingest for file", "type": "main", "index": 0 }],
        [{ "node": "NoOp", "type": "main", "index": 0 }]
      ]
    },
    "Run Ingest for file": {
      "main": [
        [{ "node": "Split In Batches", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
